@media(max-width:1000px) {
    .menu {
        width: 100%;
        height: 0vh;
        display: block;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }
    .menu ul {
        width: 100%;
        display: block;
        align-items: flex-start;
        text-align: left;
        justify-content: left;
    }
    .menu ul li {
        padding: 30px 5px;
        border-bottom: #0f0210 1px solid;
    }
    .menu ul li:hover {
        color: #454187;
    }
    .second-nav {
        display: block;
    }
    .search {
        display: none;
        width: 100%;
        padding: 20px 45px;
    }
    .Contact-Form {
        width: 90%;
    }
    .Contact-Form h1 {
        font-size: 2rem;
    }
    .Contact-Form form input,
    textarea {
        height: 45px;
        margin-top: 5px;
        font-weight: 550;
    }
    .page-path {
        display: none;
    }
    #First-sec hr {
        display: none;
    }
    #second-sec {
        display: flex;
        width: 100%;
        height: auto;
        padding: 0px;
        flex-direction: column-reverse;
    }
    .detail-col {
        width: 90%;
        display: block;
        margin: 0% auto;
    }
    .block-1 h1 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    .detail-img {
        width: 80%;
        margin: 0% auto;
        padding: 10px 0px;
        margin: 50px 0px;
    }
    .follow-logo {
        width: 120px;
    }
    .follow-icon img {
        margin: 30px 20px;
        width: 35px;
        cursor: pointer;
    }
    .futter-menu ul {
        display: block;
        width: 100%;
        height: auto;
    }
    .futter-menu {
        width: 100%;
        height: auto;
    }
    .futter-menu ul li {
        border-right: none;
        padding: 15px 0px;
    }
    .futter-menu ul li a {
        font-size: 0.9rem;
        font-weight: 600;
        color: #ffffff;
    }
    .futter-detail {
        color: #ffffff;
        font-size: 0.7rem;
        font-weight: 600;
    }
    .page-path a {
        font-weight: 550;
        color: #454187;
        font-size: 0.9rem;
    }
    #hidebutton {
        display: none;
    }
    .Logo {
        width: 170px;
    }
    .first-nav {
        padding: 10px 20px;
    }
    #close-button {
        padding: 0px;
        display: flex;
        text-align: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    #menu-button {
        padding: 8px;
        background-color: #454187;
        font-size: 1.5rem;
        color: #ffffff;
        border-radius: 4px;
        outline: none;
        border: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0px 30px;
    }
    .nav-show {
        height: 100vh;
        transition: 1s;
    }
}